.containerr {
  width: 1250px;
  margin: 0 auto;
  overflow: hidden;
  /* padding: 20px 5px 20px 5px; */
  background-color: #fff;
}

.essentialsImg {
  height: 245px;
  width: 100%;
  object-fit: cover;
}

.essentialsTitle {
  padding: 20px 0 20px 0;
  text-align: center;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}

.essentialsWrapper {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
}

.gamersLink {
  width: 249px;
  height: 270px;
  color: #011;
  font-size: 14px;
  text-align: center;
}
