.productInfo__wrapper {
  display: flex;
  background-color: #fff;
  padding-top: 30px;
}

.image__wrapper {
  width: 100px;
  height: 400px;
  display: flex;
  flex-direction: column;
  transition: all 1s ease-in;
  gap: 10px 0;
  padding: 10px;
}

.imageItem {
  width: 100%;
  height: 100px;
  background-color: #fff;
}

.imageItem > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mainImage__container {
  width: auto;
  height: 500px;
  position: relative;
  cursor: pointer;
  background-color: red;
  overflow: hidden;
}

.tracker {
  width: 200px;
  height: 200px;
  background-color: rgba(30, 143, 255, 0.329);
  position: absolute;
  pointer-events: none;
}

.tracker > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(400%);
}

.mainImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.preview {
  width: 400px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.5);
}
