*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style-type: none;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: white;
}
body {
  min-height: 100vh;
  font-family: 'Averia Libre', display;
  background-color: #eaeded;
}

:root {
  --white: #fff;
  --qora: #000;
}